@mixin borders__default {
    border-top: 2px solid $white;
    border-left: 2px solid $white;
    border-bottom: 2px solid $windows500;
    border-right: 2px solid $windows500;
  }
  
  @mixin borders__indented {
    border-top: 2px solid $windows500;
    border-left: 2px solid $windows500;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
  }
  
  @mixin borders__onwhite {
    border-top: 2px solid $windows500;
    border-left: 2px solid $windows500;
    border-bottom: 2px solid $windows100;
    border-right: 2px solid $windows100;
  }