@import "fonts.scss";
@import "colours.scss";
@import "overrides.scss";

$font-family-base: ('w95fa');



html {
  cursor: url('../assets/cursors/cursor__default.gif'), auto;
}

body{
  user-select: none;
}

::selection {
  background-color: $active;
  opacity: 1;
  color: white;
  text-decoration-color: white;
}

@mixin borders__window {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid #393939;
  border-right: 2px solid #393939;
}

@mixin borders__indented {
  border-top: 2px solid #393939;
  border-left: 2px solid #393939;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.window {
  @include borders__window();
}

.titlebar {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bolder;
}

.menubar {
  ul {
    list-style-type: none;
    padding: 2px 0px 2px 0px;
    margin: 0;
  }

  li {
    display: inline-block;
    padding-right: 4px;
  }
}

.categories {
  ul {
    list-style-type: none;
    padding: 2px 0px 2px 0px;
    margin: 0;
  }

  li {
    padding-right: 4px;
  }
}

.workarea{
  @include borders__indented();
  background-color: white;
}

.selected{
  color: white;
  background-color: $active;
  border: 1px dotted #fffd38;
}

.underline {
  text-decoration: underline;
}

.underline::selection {
  text-decoration: none;
}

.icon--logo::before {
  content: " ";
  background-image: url(../assets/Smiley.gif);
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  display: inline-block;
  margin-right: 8px;
}

.content__header {
  @include borders__indented;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";